<div data-role="page" id="features">
  <%= partial "header" %>
  <div data-role="content">
    <ul data-role="listview">
      <li data-role="list-divider">
        Members and fans can do a lot...
      </li>
      <li>keep score</li>
      <li>take attendance</li>
      <li>send messages and polls</li>
      <li>participate as members, using: the app, email, text messages</li>
      <li>sync with your phone calendar</li>
      <li>post to live activity feed: text, photos, videos</li>
      <li>map location of: games, practices, events</li>
      <li data-role="list-divider">
        THE game changer is what rTeam does for you...
      </li>
      <li>notifies team of schedule updates</li>
      <li>handles message confirmations and poll responses</li>
      <li>archives old inbox messages</li>
      <li>Tweets team activity</li>
      <li>sends game summaries to team members and fans</li>
      <li>keeps you informed about "What's Happening" right now!</li>
    </ul>
  </div>
  <%= partial "footer" %>
</div>
