<div data-role="page" id="features">
  <div data-role="header">
    <h1>rTeam Features</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <h1>We'll list some features here...  maybe.</h1>
    </ul>
  </div>
  <div data-role="footer">
    <%= partial "nav" %>
  </div>
</div>
