<div data-role="header" data-theme="b">
  <div style="text-align: center; background-color: white;">
    <img src="/mobile/img/logo.png" alt="rTeam logo" style="width: 186px; height: 55px;"><br>
    <img src="/mobile/img/SportBalls.png" alt="Sport Balls" style="width: 186px; height: 16px;">
  </div>
  <%= partial "nav" %>
</div>
