<div data-role="header" data-theme="b">
  <div style="text-align: center; background-color: #d9eafa; line-height: 0;">
    <img src="/mobile/img/logo.png" alt="rTeam logo" style="width: 150px; height: 32px;"><br>
    <img src="/mobile/img/SportsTeamGraphic.png" alt="The Sports Team Communication App" style="width: 173px; height: 6px; margin: 3px 0;"><br>
    <img src="/mobile/img/SportBalls.png" alt="Sport Balls" style="width: 233px; height: 20px; margin-bottom: -3px;">
  </div>
  <%= partial "nav" %>
</div>
