<div data-role="page" id="help">
  <%= partial "header" %>
  <div data-role="content">
    <ul data-role="listview">
      <h1>We've got all the help you need.</h1>
    </ul>
  </div>
  <%= partial "footer" %>
</div>
