<div data-role="page" id="help">
  <div data-role="header">
    <h1>rTeam Help</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <h1>We've got all the help you need.</h1>
    </ul>
  </div>
  <div data-role="footer">
    <%= partial "nav" %>
  </div>
</div>
