<div data-role="page" id="index" data-theme="b">
  <div data-role="header" data-theme="b">
    <div style="text-align: center">
      <img src="/mobile/img/logo.png" alt="rTeam logo" style="width: 186px; height: 55px;">
    </div>
    <%= partial "nav" %>
  </div>
  <div data-role="content" data-theme="b" style="text-align: center;">
    <div>
      Fast, effective team communication.
    </div>
    <br>
    <img src="/mobile/img/slidingIntoHome.jpg" alt="sliding into home" style="width: 189px; height: 131px;">
  </div>
  <div data-role="footer" data-theme="b" style="text-align: center;">
    <p>
      <a href="http://itunes.apple.com/us/app/rteam/id407424453?mt=8&uo=4" target="itunes_store">
        <img src="/mobile/img/appicon.png" style="vertical-align: middle;"></a>
      Free iPhone App!<br>
      <span style="font-size: smaller;">
        iPad and Android Apps coming soon.
      </span>
    </p>
  </div>
</div>
