<div data-role="page" id="index">
  <div data-role="header">
    <h1>rTeam Mobile Website - Coming Soon!</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <h1>The all-new rTeam mobile website to a device near you!</h1>
    </ul>
  </div>
  <div data-role="footer">
    <%= partial "nav" %>
  </div>
</div>
