<div data-role="page" id="index" data-theme="b">
  <% @page_name = "index" %>
  <%= partial "header" %>
  <div data-role="content" data-theme="b" style="text-align: center;">
    <div>
      Fast, effective team communication.
    </div>
    <br>
    <img src="/mobile/img/slidingIntoHome.jpg" alt="sliding into home" style="width: 189px; height: 131px;">
  </div>
  <%= partial "footer" %>
</div>
