<div data-role="page" id="index" data-theme="b">
  <div data-role="header" data-theme="b">
    <div style="text-align: center">
      <img src="/mobile/img/logo.png">
      <p>The Sports Team Communication App</p>
    </div>
    <%= partial "nav" %>
  </div>
  <div data-role="content" data-theme="b">
    <div>
      rTeam is THE fast and effective way to manage your team and communicate with all team members. Even more amazing is the excitement it builds with fans by providing constant access to live scores and highlights.
    </div>
    <br>
    <div style="text-align: center;">
      <img src="/mobile/img/slidingIntoHome.jpg">
    </div>
  </div>
  <div data-role="footer" data-theme="b">
    <div style="text-align: center;">
      <p>
        <a href="http://itunes.apple.com/us/app/rteam/id407424453?mt=8&uo=4" target="itunes_store">
          <img src="/mobile/img/appicon.png" style="vertical-align: middle;">
        </a>
        Free iPhone App available now!
      </p>
      <p>
        iPad and Android Apps coming soon.
      </p>
    </div>
  </div>
</div>
