<div data-role="navbar">
  <ul>
    <li>
      <a href="#index">Home</a>
    </li>
    <li>
      <a href="#features">Features</a>
    </li>
    <li>
      <a href="#help">Help</a>
    </li>
  </ul>
</div>
