<div data-role="navbar">
  <% active_class = 'class="ui-btn-active ui-state-persist"' %>
  <ul>
    <li>
      <a href="#index" <%= active_class if @page_name == "index" %>>Home</a>
    </li>
    <li>
      <a href="#features" <%= active_class if @page_name == "features" %>>Features</a>
    </li>
    <li>
      <a href="#help" <%= active_class if @page_name == "help" %>>Help</a>
    </li>
  </ul>
</div>
