<div data-role="page" id="screenshots">
  <div data-role="header">
    <h1>rTeam Screenshots</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <h1>Lots o' screenshots for you.</h1>
    </ul>
  </div>
  <div data-role="footer">
    <%= partial "nav" %>
  </div>
</div>
